<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ООО_Спортивные_товары.Properties.Settings.SportTovariConnectionString"
            connectionString="Data Source=PC\SQLEXPRESS;Initial Catalog=SportTovari;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ООО_Спортивные_товары.Properties.Settings.SkladConnectionString"
            connectionString="Data Source=PC\SQLEXPRESS;Initial Catalog=Sklad;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ООО_Спортивные_товары.Properties.Settings.dbConnectConnectionString"
            connectionString="Data Source=PC\SQLEXPRESS;Initial Catalog=dbConnect;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>